.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin:80px 170px;
}
.services-title{
    margin-top: 80px;
    position: relative;
}
.services-title h1{
    padding: 0 30px;
    font-size: 70px;
    font-weight: 600;
}
.services-title img{
    position: absolute;
    bottom:0;
    right:0;
    z-index: -1;
}
.services-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    gap: 20px;  
    cursor: pointer;
}
.services-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:40px;
    margin-bottom: 80px;
}
.services-format h3{
    font-size: 28px;
    font-weight: 600;
}
.services-format h2{
    font-size: 38px;
    font-weight: 800;
    background:  linear-gradient(267deg, #1e1782 0.36%, #0a9fb3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.services-format p{
    color: #dddddd;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
 
}
.services-readmore{
    display: flex;
    gap:20px;
    align-items: center;
    margin-top: 20px;
}
.services-format:hover{
    background: linear-gradient(267deg, #434242 0.36%, #000000);
    transform: scale(1.05);
    transition: 0.8s;
}
@media(max-width:768px){
    .services{
        gap:40px;
        margin:50px 70px;
        align-items: start;
    }
    .services-title h1{
        font-size: 40px;
        padding:0;
    }
    .services-title img{
        width: 130px;
        right: -20px;
    }
   
}