.hero{
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
 
}
.hero figure{
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
}
.hero figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero h1{
    text-align: center;
    width:70%;
    font-size:60px;
    font-weight: 600;
}
.hero h1 span{
    background: linear-gradient(267deg, #1e1782 0.36%, #0a9fb3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    font-size: 24px;
    text-align: center;
    width: 50%;
    line-height:24px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size:24px;
    font-weight:500;
    margin-bottom:50px;
}
.hero-connect{
    padding:15px 30px;
    border-radius: 50px;
    background: linear-gradient(267deg, #1e1782 0.36%, #0a9fb3);
    cursor: pointer;
    transition: 0.5s;
    color: rgb(255, 255, 255);
}
.hero-connect a{
    color: #ffffff;
    text-decoration: none;
}
.hero-resume{
    padding:15px 30px;
    border-radius: 50px;
    border: 2px solid rgb(30, 23, 130);
    cursor: pointer;
    transition: 0.5s;
}
.hero-connect:hover, .hero-resume:hover{
    transform: scale(1.05);
}
@media(max-width:768px){
    .hero figure{
       margin-top:120px;
    }
    .hero h1{
        margin-top:50px;
        width: 90%;
        font-size:50px;
    }
    .hero p{
        margin:10px 0px;
        width: 60%;
        font-size:18px;
        line-height: 32px;
    }
    .hero-action{
        gap: 16px;
        font-size:18px;
        font-weight:500;
        margin-bottom: 50px;
    }
    .hero-connect{
        padding:20px 30px;
        border-radius: 40px;
    }
    .hero-resume{
        padding: 20px 50px;
        border-radius: 40px;
    }
}
