.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin:80px 170px;
}
.mywork-title{
    position: relative;
    margin-bottom: 80px;
}
.mywork-title h1{
    padding: 0 30px;
    font-size: 70px;
    font-weight: 600;
}
.mywork-title img{
    position: absolute;
    bottom:0;
    right:0;
    z-index: -1;
}
.mywork-container{
    display: grid;
     grid-template-columns: 1fr 1fr 1fr;
    gap:40px;
    margin-bottom: 80px;
}
.mywork-container img{
    box-sizing: border-box;
    width:419px;
    height:280px;
    cursor: pointer;
    transition: 0.3s;
}
.mywork-container img:hover{
    transform: scale(1.10);
    border:none;
    border-radius: 10px;
    transition: 0.4s;
}
.mywork-showmore{
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    padding:30px 60px;
    cursor: pointer;
    transition: 0.4s;
    margin-bottom: 80px;
    font-size: 22px;
    font-weight: 500;
}
.mywork-showmore:hover{
    transform: scale(1.05);
    transition: 0.5s;
}