.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin:80px 170px;
}
.contact-title{
    position: relative;
    margin-bottom: 80px;
}
.contact-title h1{
    padding: 0 30px;
    font-size: 70px;
    font-weight: 600;
}
.contact-title img{
    position: absolute;
    bottom:0;
    right:0;
    z-index: -1;
}
.contact-section{
    display: flex;
    gap: 150px;

}
.contact-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact-left h1{
    font-size:80px;
    font-weight: 700;
    background: linear-gradient(267deg, #1e1782 0.36%, #0a9fb3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-left p{
    max-width: 550px;
    color: #dddddd;
    font-size:20px;
    line-height: 35px;
    
}
.contact-details{
    display: flex;
    flex-direction: column;
    gap: 30px; 
    color: #dddddd;
    font-size: 22px;
}
.contact-detail{
    display: flex;
    align-items: center;
    gap: 20px;
}
.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}
.contact-right label{
    color: #dddddd;
    font-size: 22px;
    font-weight: 500;
}
.contact-right input{
    border: none;
    width:700px;
    height: 78px;
    padding:0 20px;
    border-radius: 4px;
    background-color:#32323c;
    color: #dddddd;
    font-family: Outfit;
    font-size: 20px;
}
.contact-right textarea{
    border: none;
    width:700px;
    height: 200px;
    padding: 20px;
    border-radius: 4px;
    background-color:#32323c;
    color: #dddddd;
    font-family: Outfit;
    font-size: 20px;
    resize: none;
}
.contact-submit{
    width: 200px;
    height: 60px;
    border-radius: 50px;
    border: none;
    background: linear-gradient(267deg, #1e1782 0.36%, #0a9fb3);
    color: white;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s;
}
.contact-submit:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
@media(max-width:1170px){
    .contact{
        margin: 0;
        padding:20px;
    }
    .contact-title{
    margin-bottom: 0;
 
    }
    .contact-left h1{
        font-size: 40px;
        text-align: center;
    }
     .contact-title h1{
        font-size: 42px;
        padding:0;
    }
     .contact-title img{
        width: 130px;
        right: -20px;
    }
    .contact-section{
        flex-direction: column;
        gap: 50px;
    }
    .contact-right input, .contact-right textarea{
        width: 82%;
    }
   .contact-detail{
        flex-direction: column;
   }
}