.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:20px ;
}
.navbar figure{
    width:100px;
    height:100px;
}
.navbar figure .logo{
    width:100%;
    height:100%;
    object-fit: cover;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 60px;
    font-size: 20px;
    list-style-type: none;    
}
.nav-menu li{
    cursor:pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}
.nav-menu li a{
    color: #dddddd;
    text-decoration: none;
}
.nav-connect{
    padding:20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #1e1782 0.36%, #0a9fb3);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;

}
.nav-connect a{
    color: #ffffff;
    text-decoration: none;
}
.nav-connect:hover{
    transform: scale(1.05);
}

.nav-menu li img{
   display: flex;
   margin: auto;
}
 .nav-mob-open{
    display: none;
 }
.nav-mob-close{
    display: none;
}
 
@media screen and (max-width: 768px){
    .navbar{
      margin:20px 50px;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right:30px;
        width: 30px;
        cursor: pointer;    
        height:30px;
    }
    .nav-mob-close{
        display:block;
        position: relative;
        top:30px;
        left: 290px;
        width: 30px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1F0016;
        width: 350px;
        height:100%;
        z-index: 2;
        transition:right 0.5s;
        right: -400px;
    }
    .nav-menu li{
        font-size: 30px;
        padding-left:100px;
        flex-direction: row;
        gap:20px;
    }
     
}