.footer{
    margin:50px 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-top-left p{
    font-size: 20px;
    max-width:600px;
    line-height:32px;
}
.footer-top-right{
    display: flex;
    gap: 35px;
    align-items: center;
}
.footer-email-input{
    display: flex;
    gap:30px;
    padding: 20px 30px;
    border-radius:50px;
    background-color: #32323B;
    border:2px solid #32323B;
    padding-right: 80px;
    transition: 0.5s;
}
.footer-email-input input{
    outline: none;
    border: none;
    background: transparent;
    color: #dddddd;
    font-family: Outfit;
    font-size:18px;
}
.footer-subscribe{
    font-size:20px;
    padding:22px 50px;
    border-radius:50px;
    background: linear-gradient(267deg, #1e1782 0.36%, #0a9fb3);
    transition: 0.5s;
}
.footer-subscribe:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 18px; 
}
.footer-bottom-right{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}
.footer-email-input:hover{
    border: 2px solid white;
}
.footer-bottom-right a{
    color: #dddddd;
    text-decoration: none;
}
@media(max-width:1170px){
    .footer{
        margin: 50px 20px;
    }
    .footer-top{
        flex-direction: column;
        gap: 30px;
    }
    .footer-bottom{
        flex-direction: column;
        gap: 20px;
    }
    .footer-bottom-right{
        justify-content: center;
    }
    .footer-top-right{
      display: none;
    }
}